.section-selector{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    width: 15%;
    /* height:fit-content; */
    height: 190px;
    background-color: #161728a0;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}
.section-selector .list{
    width: 78%;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
    font-size: 20px;
    color:#fff;
    transition: all 0.3s ease-in-out;
}
.section-selector .list a{
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.section-selector .list a:hover{
    color:dodgerblue;
}
.section-selector .list:hover{
    color:dodgerblue;
    background-color: #1617283a;
}
.section-holder{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    width: 80%;
    /* height:fit-content; */
    height:fit-content;
    background-color: #161728a0;
}
@media (max-width:1200px) {
    .section-holder{
        width: 100%;
    }
    .section-selector{
        width: 100%;
        height: fit-content;
    }
    .section-selector .list{
        display: inline-block;
        width: 100px;
    }
}
.section-holder section{
    display: none;
    transition: all 0.5s ease-in-out;
    color:#fff
}
.active{
    display: initial;
    opacity: 1;
}
.section-holder .book-holder{
    display: inline-block;
    height :300px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}
.section-holder .book-holder-full{
    display: inline-block;
    height :fit-content;
    width: 95%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}
.section-holder .book-holder .book-cover{
    float: left;
    margin: 20px 9px 9px 9px;
    height :282px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-size: 200px;
}
.section-holder .book-holder .book-intro{
    margin: 9px;
    padding: 10px;
    line-height: 25px;
    font-size: 20px;
    height :282px;
    width: auto;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section-holder .book-holder .book-intro p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    line-clamp: 11;
    -webkit-box-orient: vertical;
}
.section-holder .book-holder-full .book-intro-full{
    margin: 9px;
    padding: 10px;
    line-height: 25px;
    font-size: 20px;
    height:fit-content;
    width: auto;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}