<div class="big-container">
  <article class="article">
    <div style="width:fit-content;padding:10px;height:auto;background-color:rgb(0,102,255);border-radius:10px;">
      <h3 style="text-align:center;color:#ffffff;">文章分类</h3>
    </div>
    <div class="topsign-title">
      <h2 class="topsign-text">这里存放我们建站以来的所有已有的文章（可以慢慢翻）</h2>
    </div>

    <div style="display:flex;gap:20px;">
      <div style="width:200px;flex-shrink:0;">
        <div class="sign-container" style="padding:10px;">
          <ul class="column_box" id="like-box">
            <li class="column-title">
              <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family:Georgia,'Times New Roman',Times,serif;">分类</a></span>
            </li>
            <script>
              var translate = ['CodeDev','读书思考','政史经哲','转载文章','记录生活','日常抱怨','推荐Something','技术相关','其他'];
              var h = '';
              for(var i = 0; i < translate.length; i++){
                h += '<li class="column-category"><a href=\"./categories.html?cate='+(i+1)+'\">'+translate[i]+'</a></li>';
              }
              document.currentScript.insertAdjacentHTML('beforebegin', h);
            </script>
          </ul>
        </div>
      </div>

      <div style="flex:1;min-width:0;">
        <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
        <div id="article-holder" style="width:100%;">
          <div class="sign-container" style="padding:15px;">
            <div id="pages-container"></div>
          </div>
          <div id="chooser-container" style="margin-top:10px;text-align:center;"></div>
        </div>
      </div>
    </div>
  </article>
</div>
<script>
  var page = 1, cate = 'all';
  if(getParams("page") != null) page = parseInt(getParams("page"));
  if(getParams("cate") != null) cate = getParams("cate");
  print_page(page);
  (function buildChooser(){
    var h = '<div class=\"pagination\">';
    h += '<span class=\"pagination-info\">'+count+' 篇 / '+pages+' 页</span>';
    for(var i = 1; i <= pages; i++){
      h += '<a class=\"pagination-btn'+(i==page?' active':'')+'\" href=\"./category.html?mode='+mode+'&page='+i+'\">'+i+'</a>';
    }
    h += '</div>';
    document.getElementById('chooser-container').innerHTML = h;
  })();
</script>
