<div class="big-container" id="particles-js">
  <article class="article">
    <div style="width:fit-content;padding:10px; height:auto;background-color: rgb(0, 102, 255);border-radius: 10px;">
      <h3 style="text-align: center;color: #ffffff;">评论区</h3>
    </div>
    <div class="topsign-title">
      <h2 class="topsign-text">在这里留下你对这个网站的意见和文章讨论吧！（注意文明用语，严禁色图水贴哦~（=^Δ^=））</h2>
      <p>
        <br>有需要修改的文章/勘误/讨论，需要添加/删除的功能都可以在这里发表！ps：宣传社团和宣传栏等等可以去隔壁宣传栏哦~ <br>
        <br>tag: #意见反馈# #文章# #反馈# #意见反馈# #勘误# <br>
        <br><br><br>
      </p>
    </div>
    <div id="outerdiv">
      <div id="innerdiv" style="position:absolute;">
        <img alt id="bigimg" style="box-shadow: 0 0 10px #00000038" src=""/>
      </div>
    </div>
    <div class="article-container">
      <div class="article-content markdown-body">
        <h2 style="margin: 10px 0">评论</h2>
        <div id="tcomment"></div>
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC81NzY3Ny8zNDE0MA==">
          <script type="text/javascript">
            (function(d, s) {
              var j, e = d.getElementsByTagName(s)[0];
              if (typeof LivereTower === 'function') { return; }
              j = d.createElement(s);
              j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
              j.async = true;
              e.parentNode.insertBefore(j, e);
            })(document, 'script');
          </script>
          <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
      </div>
    </div>
  </article>
</div>
