<div class="big-container" id="particles-js">
  <article class="article">
    <div style="width:fit-content;padding:10px; height:auto;background-color: rgb(0, 102, 255);border-radius: 10px;">
      <h3 style="text-align: center;color: #ffffff;">网站公告版</h3>
    </div>
    <div class="topsign-title">
      <h2 class="topsign-text">这里是网站开发记录和一些重大决议的公告版哦</h2>
      <br>
      <p>不定期更新。当前的计划：开发分页浏览功能和页面的进一步美化</p>
      <br><br>
    </div>
    <div class="nb-a-holder">
      <!-- 公告板 -->
      <script type="text/javascript" src="../js/comcode/com_web.lastsign.js"></script>
      <script type="text/javascript" src="../js/comcode/com_web.sign.js"></script>
    </div>
  </article>
</div>
