<div class="headpage"><div class="headpage-cover"></div></div>
<% if (hasToc) { %>
<div class="toc">
  <ul>
    <li><a href="#" id="toc-a-on">目录</a></li>
  </ul>
</div>
<% } %>
<section class="main">
  <%- content %>
</section>
