<div class="headpage"><div class="headpage-cover"></div></div>
<% if (hasToc) { %>
<div class="toc">
  <ul>
    <li><a href="#" id="toc-a-on">目录</a></li>
  </ul>
</div>
<% } %>
<section class="main">
  <div class="left-box">
    <div class="article-container">
      <div class="article-content markdown-body">
        <%- content %>
      </div>
    </div>
  </div>
</section>
