<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <title>SOYORIN__关于</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
    <style>
        @import url("../css/calendar.css");
    </style>
</head>
<body>
    <script>
            function getParams(key) {
                var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            };
            var mode = 1;
            if(localStorage.getItem("soyorin-mode") != null){mode = parseInt(localStorage.getItem("soyorin-mode"))};
    </script>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div id="headpic" class="headpic">
        <script>
            var pics = [
                "https://img.soyorin.work/headp1.jpg",
                "https://img.soyorin.work/headp2.jpg",
                "https://img.soyorin.work/headp3.jpg",
                "https://img.soyorin.work/headp4.jpg",
                "https://img.soyorin.work/headp5.jpg",
                "https://img.soyorin.work/headp6.jpg",
                "https://img.soyorin.work/headp7.jpg",
                "https://img.soyorin.work/headp8.jpg",
                "https://img.soyorin.work/headp9.jpg",
                "https://img.soyorin.work/headp10.jpg",
                "https://img.soyorin.work/headp11.jpg",
                "https://img.soyorin.work/headp12.jpg"
            ]
            var intros = [
                "Mémoires",
                "Raisons et hypothèses",
                "Vivez l'instant rêvé et réel.",
                "Long voyage",
                "Fins silencieuses",
                "Lit. le bécasseau et la palourde font la guerre ensemble",
                "Rompre les relations avec",
                "Victoire",
                "Le jugement dernier",
                "Quand le rêve s'éveille",
                "Revitalisation",
                "Compte à rebours"
            ]
            xtype = Math.floor(Math.random()*(pics.length-1));
            document.write('<img style="width: 100%; height:auto" alt="" src="'+pics[xtype]+'">');
        </script>
    </div>
    <div class="headpic-cover">
        <div style="margin: 0 auto;top:210px;text-align: center;padding: 10px 10px 20px 20px;color: #ffffff;position: absolute;width: 100%;">
            <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
            <h1 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-size: 70px;font-weight: 100;"><div style="color:rgb(0,102,255);display: inline;">关</div>于Soyorin.Work和我</h1>
            <h4 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-weight: 100;"><div style="color:rgb(0,102,255);display: inline;">Ü</div>ber diese Website und mir</h4>
        </div>
        <div style="text-align: center;padding: 10px 10px 20px 20px;color: #ffffffb6;width: 500px;height:auto;background-color: #0000006c;border-radius: 15px;position:relative;margin: 0 auto;top: 430px;">
            <i><script>
                document.write(intros[xtype]);
            </script></i>
        </div>
        <div style="text-align: left;padding: 10px 10px 20px 20px;color: #ffffffb6;height:auto;background-color: #0000006c;border-radius: 15px;position:absolute;left: 20px;top: 500px;">
            <div style="text-align: center;width: 100%;height:100%;border-radius: 10px;border-color: azure;">
                <a href="https://cloudflare-cn.com" style="color:#ffffff">图床=></a>
            </div>
        </div>
    </div>
    <div class="big-container">
        <article class="article">
            <div style="width:fit-content;padding:10px; height:auto;background-color: rgb(0, 102, 255);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">关于Soyorin</h3>
            </div>
            <div class="topsign-title">
                <h2 class="topsign-text">这里记录了我的想法</h2>
                <br>
                <p><strong>欢迎所有有望对Soyorin.Work的内容建设做出贡献的人</strong></p>
                <br>
                <br>
            </div>
            <ul class="link-box about">
                <li>
                    <span class="about_title">Soyorin.Work - AKlassen's Blogs<br></span>
                </li>
                <li class="person-img-li" style="text-align: center;">
                    <img alt="logo" id="person-img"
                        src="../img/builder.jpeg">
                </li>
                <style>
                    .tags{display: inline-block;width: max-content;height: auto;margin: 5px;font-size: 15px;background-color: rgb(255, 255, 255);border-radius: 5px;color:#000000;border-width: 10px;}
                    .tags .left{width: max-content;padding: 5px;height: 20px;line-height: 20px;font-size: 15px;background-color: #717171;border-radius: 5px 0 0 5px;display: inline;margin-right:0px;color: rgb(223, 223, 223);transition: color 0.5s ease-in-out;}
                    .tags .right{width: max-content;padding: 5px;height: 20px;line-height: 20px;font-size: 15px;background-color: #4cd440;border-radius: 0 5px 5px 0;display: inline;margin-left: -5px;color: rgb(223, 223, 223);transition: color 0.5s ease-in-out;}
                    .tags .left:hover{color:rgb(101, 162, 255);}
                    .tags .right:hover{color:rgb(101, 162, 255);}
                    .list{background-image: url("https://img.soyorin.work/list-back.jpg");background-size: 100%;font-family: Exo-White;display: inline-block;width: 100%;height:auto;background-color: #4b4b4b;border-radius: 8px;border-width:1px;border-color: #000000;border-style:solid;}
                    .list .left{display: inline; padding-left: 5%;width: 12%;height: 100%;line-height: 40px;font-size: 30px;border-radius: 3px 0 0 3px;display: inline-block;margin-right:0px;color: dodgerblue;}
                    .list .right span{
                        margin-left: 2%;
                        width: auto;
                        height:auto;
                        margin-right: 2%;
                        display: inline-flex;
                    }
                    .list .right{background-color: #00000069;display: inline-block;border-radius: 3px;width: 78%;height: 100%;line-height: 40px;font-size: 18px;border-radius: 3px;margin-left:10px;color:#fff}
                    @media (max-width:1200px){
                        .list .left{
                            font-size: 18px;
                        }
                        .list .left:hover{
                            font-size: 19px;
                        }
                        .list .right{
                            font-size: 16px;
                        }
                    }
                </style>
                <li style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    <div class="tags"><div class="left"> Hometown </div><div class="right" style="background-color:rgb(255, 251, 0);">Baotou/Tianjin, China </div></div>
                    <div class="tags"><div class="left"> Favorites </div><div class="right" style="background-color:rgb(51, 51, 51);">Games/Computer Science </div></div>
                    <div class="tags"><div class="left"> Wuhan </div><div class="right">University </div></div>
                    <div class="tags"><div class="left"> OIer </div><div class="right" style="background-color:rgb(41, 127, 255);">3Years </div></div>
                    <div class="tags"><div class="left"> repo status </div><div class="right">Active </div></div>
                    <div class="tags"><div class="left"> Major </div><div class="right" style="background-color:rgb(41, 127, 255);">Electronic Infomation </div></div>
                    <div class="tags"><div class="left"> Email </div><div class="right">Active </div></div>
                    <div class="tags"><div class="left"> Speciality </div><div class="right" style="background-color:rgb(41, 127, 255);">Artificial Intelligence </div></div>
                    <div class="tags"><div class="left"> Twitter(X) </div><div class="right">Active </div></div>
                    <div class="tags"><div class="left"> WeChat </div><div class="right">Active </div></div>
                    <div class="tags"><div class="left"> QQ </div><div class="right">Active </div></div>
                    <div class="tags"><div class="left"> Minecraft </div><div class="right" style="background-color:rgb(41, 127, 255);">Bedrock/Java Building Focused </div></div>
                    <div class="tags"><div class="left"> Rhythm Games </div><div class="right"  style="background-color:rgb(255, 0, 157);">Arcaea </div></div>
                    <div class="tags"><div class="left"> Rhythm Games </div><div class="right"  style="background-color:rgb(39, 0, 87);">Phigros </div></div>
                </li>
                <h3 class="about_line">  Blog的名字来源于？</h3>
                <li>
                    <span class="description">
                        Bangdream It's MyGO!!! 角色长崎素世——角色颇有张力，人物塑造饱满，神态丰富（棒读），故取了她的别称Soyorin当作网站名字了（笑）。
                    </span>
                </li>
                <h3 class="about_line">  开发历史？</h3>
                <li>
                    <span class="description">
                        做这个Blog的契机在2020年（具体时间记不清了）,当时所考虑的是做一个社会科学/哲学etc的分享贴子和笔记本（所以实际上根本不算是Blog吧(ˉ▽ˉ；)...）。
                    </span>
                    <span class="description">
                        故以下是一个开发历史：<br>
                    </span>
                    <br>
                    <div class="list">
                        <div class="left">
                            2020
                        </div>
                        <div class="right">
                            <span>我和我的朋友(Faschiung)两人将平时写的人文/社评类文章制作成网页挂在Github Pages上作为写作的展示和交流用。</span>
                        </div>
                        <div></div>
                        <div class="left">
                            <span> 2021</span>
                        </div>
                        <div class="right">
                            <span>我购买了域名wgsoc.top（现已停用）。告别Faschiung后我将网页改作高中马哲社团的宣传展示页。网页技术得到突破并向Blog Web方向发展。同时我复用文件做出了self.wgsoc.top子博客</span>
                        </div>
                        <div></div>
                        <div class="left">
                            <span> 2022</span>
                        </div>
                        <div class="right">
                            <span>本站初次定名为“望关”，寓意“雄关漫道真如铁”，使用了完备的html/css/js和图床，承担了学习共享和文章刊登的功能，增添了插件制作的讨论区和评论版。</span>
                        </div>
                        <div></div>
                        <div class="left">
                            <span> 2023</span>
                        </div>
                        <div class="right">
                            <span>随着学业加重，社团也因为经营问题和一些不可抗力因素解散，本站也关停了一段时间。在23年中，我对本站删删改改，去除了社团、敏感涉政等等不必要的内容，添加了新的代码和界面，优化了导航页etc...</span>
                        </div>
                        <div></div>
                        <div class="left">
                            <span> 2024</span>
                        </div>
                        <div class="right">
                            <span>痛定思痛，我将老域名放弃，换了新的soyorin.work，将旧文章、图片全部删除重置，合并了个人博客的内容并将本站改作纯粹的个人博客使用。“望关”走进历史，而soyorin.work走出了阴影。</span>
                        </div>
                        <div></div>
                    </div>
                    <h1 style="color: dodgerblue;">嗯...就这样吧</h1>
                </li>
                <h3 class="about_line">  为什么以Soyorin作为名字？</h3>
                <li>
                    <span class="description">
                        同上。
                    </span>
                </li>
                <h3 class="about_line">  为什么以Soyorin作为名字？</h3>
                <li>
                    <span class="description">
                        同上。
                    </span>
                </li>
                <h3 class="about_line">  为什么以Soyorin作为名字？</h3>
                <li>
                    <span class="description">
                        同上。
                    </span>
                </li>
                <h3 class="about_line" style="text-align: center;font-style: normal;font-family: Exo-White;">  Tips</h3>
                <li>
                    <span class="description">
                        1. 本站所有文章投稿及相关文件均遵守(CC)-BY-NC-SA协议,即：创作共用-署名-非商业性-相同方式共享。
                    </span>
                </li>
                <li>
                    <span class="description">
                        BY：您（用户）可以复制、发行、展览、表演、放映、广播或通过信息网络传播本作品；您必须按照作者或者许可人指定的方式对作品进行署名。
                    </span>
                </li>
                <li>
                    <span class="description">
                        NC：您可以自由复制、散布、展示及演出本作品；您不得为商业目的而使用本作品。
                    </span>
                </li>
                <li>
                    <span class="description">
                        SA：您可以自由复制、散布、展示及演出本作品；若您改变、转变或更改本作品，仅在遵守与本作品相同的许可条款下，您才能散布由本作品产生的派生作品。
                    </span>
                </li>
                <li>
                    <span class="description">
                        2. 在本站浏览时请不要发表<strong>过分的垃圾言论以及敏感言论</strong>，一经发现您的IP将会被加入黑名单列表。
                    </span>
                </li>
                <li>
                    <span class="description">
                        3. 如果想了解我都写什么代码，请前往<a href="https://github.com/ArbeiterKlassen" style="display: contents;">Github</a>
                    </span>
                </li>
                <li>
                    <span class="description">
                        4. 如果想了解我玩什么游戏，请前往<a href="./games.html" style="display: contents;">游戏</a>
                    </span>
                </li>
                <li>
                    <span class="description">
                        5. 如果想看我写的文章/转载的文章/书，请前往<a href="./index.html" style="display: contents;">首页</a>
                    </span>
                </li>
                <li>
                    <span class="description">
                        6. 如果想互换友链，请前往<a href="./link.html" style="display: contents;">友情链接</a>
                    </span>
                </li>
                <li>
                    <span class="description">
                        7. 如果想知道我听什么歌，请前往<a href="./musics.html" style="display: contents;">歌单</a>
                    </span>
                </li>
                <li>
                    <span class="description">
                        8. 如果想反馈Bugs/提交Issues，请前往<a href="./issue.html" style="display: contents;">讨论</a>或在<a href="https://github.com/ArbeiterKlassen/Soyorin-Work" style="display: contents;">Github/Soyorin-Work</a>提交Issues。也可以发邮件问我哦。（偶尔会看，随缘喽）
                    </span>
                </li>
                <li>
                    <span class="description">
                        9. 如果以上都没有hit到你的点，feel free to explorer every corner of this site :D
                    </span>
                </li>   
            </ul>
            <ul class="link-box">
                <li>
                    <span style="text-align:center;display: block;font-size:x-large;color: #000000;font-family: 'Times New Roman', Times, serif;">Calendar<br></span>
                </li>
                <div id="calendar" style="height: auto;width: 100%;margin: 0 auto;background-color: rgb(255, 255, 255);">
                    <div id="left-holder" class="calendar-lh">
                        <div id="inner-holder" style="margin: 20px;">
                            <div id="calendar-title" style="width: 100%;height: 80px;text-align: center;vertical-align: middle;font-size: x-large;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                MONTH
                            </div>
                            <div id="calendar-weekdays" style="width: 100%;height:50px;background-color: white;">
                                <div id="w1" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;color: rgb(159, 15, 44);">S</div>
                                <div id="w2" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">M</div>
                                <div id="w3" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">T</div>
                                <div id="w4" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">W</div>
                                <div id="w5" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">T</div>
                                <div id="w6" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">F</div>
                                <div id="w7" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">S</div>
                            </div>
                            <div id="calendar-dates">
                            <div id="calendar-dates-container"></div>
                                <script>
                                    var monthlist = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                                    var myDate = new Date();
                                    var strDate = myDate.getFullYear()+'-'+myDate.getMonth()+1+'-1';
                                    var start = new Date(strDate).getDay();//0-6
                                    document.getElementById('calendar-title').innerHTML = monthlist[myDate.getMonth()];
                                    for(var i = 0;i<start;i++){
                                        document.getElementById('calendar-dates-container').innerHTML += '<div id="empty" style="width: 13%;height:50px;float: left;"></div>'
                                    }
                                    var datelist = [31,28,31,30,31,30,31,31,30,31,30,31];
                                    if(myDate.getFullYear()%4 == 0 && myDate.getFullYear()!=0){
                                        datelist[1] = 29;//处理闰年
                                    }
                                    for(var i = 0;i<datelist[myDate.getMonth()];i++){
                                        if((i+start)%7 != 0){
                                            document.getElementById('calendar-dates-container').innerHTML += '<div id=d"'+(i+1)+'"'+' style="font-family:'+"'Times New Roman'"+', Times, serif;'+'width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">'+(i+1)+'</div>';
                                        }else{
                                            document.getElementById('calendar-dates-container').innerHTML += '<div id="d'+(i+1)+'"'+'  style="font-family:'+"'Times New Roman'"+', Times, serif;'+'width: 14.2%;height:50px;float: left;text-align: center;font-size: large;color: rgb(159, 15, 44);">'+(i+1)+'</div>';
                                        }
                                    }
                                    document.getElementById('d'+myDate.getDate()).innerHTML = '<strong>'+myDate.getDate()+'</strong>'
                                </script>
                            </div>
                            <div id="tip" style="width: 100%;float: right;line-height: 50px;">
                                <h6 style="text-align: left;display: block;color: #000000;font-family: 'Times New Roman', Times, serif;">Created By WangGun Sociology</h6>
                            </div>
                        </div>
                    </div>
                    <div id="right-holder" class="calendar-rh">
                        <div id="img-container" style="width: 100%;">
                            <img style="width: 80%;margin-bottom: 50px;border-radius: 5px;"src="../img/calendar.jpg" alt="">
                        </div>
                    </div>
                </div>
            </ul>
        </article>
    </div>
    <!--主题-->>
    <div>
        <script>
            if(mode==1)document.write('<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#000000"><a href="javascript:void(0)" onclick="pagereload(2)" style="font-size:28px">✨</a></div>')
            if(mode==2)document.write('<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#ffffff"><a href="javascript:void(0)" onclick="pagereload(1)" style="font-size:28px">🔆</a></div>')
        </script>
    </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>

</html>