<!DOCTYPE html>
<html lang="zh-cmn-Hans" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="description" content="Soyorin.Work - AKlassen&#39;s Blogs">
  <meta name="keywords" content="Soyorin.Work, Blog">
  <meta property="og:title" content="Soyorin.Work - 首页">
  <meta property="og:site_name" content="Soyorin.Work - AKlassen's Blogs">
  <title>Soyorin.Work - 首页</title>
  <link rel="shortcut icon" href="../img/user.jpeg">
  <link rel="stylesheet" href="../css/variables.css">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/pace-theme-flash.css">
  <link rel="stylesheet" href="../css/d-audio.css">
  <link rel="stylesheet" href="../css/font.css">
  
  <link rel="stylesheet" href="../css/index.css">
  
  <link rel="stylesheet" href="../css/sign.css">
  
  <link rel="stylesheet" href="../css/archive.css">
  
  
  <style>.lazy-image { background: url('../img/loading.gif') no-repeat center; background-size: 26% 35%; height: 100%; width: 100%; }</style>
  
  
  <!-- 初始主题检测 + 全局变量 (需在页面内容前定义) -->
  <script>
    var mode = 1;
    (function() {
      var saved = localStorage.getItem('soyorin-mode');
      if (saved) mode = parseInt(saved);
      var prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      var isDark = saved ? saved === '2' : prefersDark;
      document.documentElement.setAttribute('data-theme', isDark ? 'dark' : 'light');
    })();
    function getParams(key) {
      var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
      var r = window.location.search.substr(1).match(reg);
      if (r != null) return decodeURIComponent(r[2]);
      return null;
    }
    function hasadmission() {
      return localStorage.getItem('soyorin-admission') !== null;
    }
    function pagereload(colormode) {
      localStorage.setItem('soyorin-mode', colormode);
      document.documentElement.setAttribute('data-theme', colormode === 2 ? 'dark' : 'light');
    }
  </script>
</head>
<body>
  <!-- 悬挂的喵 -->
  <script type="text/javascript" src="../js/hangingcat/hangingcat.js" defer></script>
  <link rel="stylesheet" type="text/css" href="../css/hangingcat/hangingcat.css">
  <div class="back-to-top cd-top faa-float animated cd-is-visible" style="top: -300px; z-index: 999;"></div>

  <!-- PC导航 -->
  <nav class="nav-bar-holder">
    <div class="nav-bar" id="nav-bar">
      <div class="nb-a-holder" id="home"><a class="nb-a ta-c" href="../templates/index.html">首页</a></div>
      <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/about.html">关于</a></div>
      <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/web.sign.html">公告</a></div>
      <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/category.html">文章分类</a></div>
      <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/archive.html">归档</a></div>
      <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/manifest.html">清单</a></div>
      <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/issue.html">讨论</a></div>
      <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/link.html">友情链接</a></div>
      <div class="nb-a-holder"><a class="nb-a ta-c" href="../index.html">导航页</a></div>
    </div>
  </nav>

  <!-- mobile导航 -->
  <nav class="mobile-nav">
    <a id="mobile_cate" href="javascript:void(0);"><div style="padding: 1px; background-color: white; border-radius: 25px;"><img style="width: 35px;" alt="mobile-nav" src="../img/cate.svg"></div></a>
  </nav>
  <ul id="nav-m-list">
    <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
    <li id="m-img-li"><img id="m-img" alt="头像" src="../img/user.jpeg"></li>
    <li><a class="w-h-100 fl" href="../templates/index.html">首页</a></li>
    <li><a class="w-h-100 fl" href="../templates/about.html">关于</a></li>
    <li><a class="w-h-100 fl" href="../templates/web.sign.html">公告</a></li>
    <li><a class="w-h-100 fl" href="../templates/category.html">文章分类</a></li>
    <li><a class="w-h-100 fl" href="../templates/archive.html">归档</a></li>
    <li><a class="w-h-100 fl" href="../templates/manifest.html">清单</a></li>
    <li><a class="w-h-100 fl" href="../templates/issue.html">讨论</a></li>
    <li><a class="w-h-100 fl" href="../templates/link.html">友情链接</a></li>
    <li><a class="w-h-100 fl" href="../index.html">导航页</a></li>
  </ul>

  <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>

  
  <!-- 头图区域 -->
  <div id="headpic" class="headpic">
    <script>
      var pics = [
        "https://img.soyorin.work/headp1.jpg",
        "https://img.soyorin.work/headp2.jpg",
        "https://img.soyorin.work/headp3.jpg",
        "https://img.soyorin.work/headp4.jpg",
        "https://img.soyorin.work/headp5.jpg",
        "https://img.soyorin.work/headp6.jpg",
        "https://img.soyorin.work/headp7.jpg",
        "https://img.soyorin.work/headp8.jpg",
        "https://img.soyorin.work/headp9.jpg",
        "https://img.soyorin.work/headp10.jpg",
        "https://img.soyorin.work/headp11.jpg",
        "https://img.soyorin.work/headp12.jpg"
      ];
      var intros = [
        "Mémoires",
        "Raisons et hypothèses",
        "Vivez l'instant rêvé et réel.",
        "Long voyage",
        "Fins silencieuses",
        "Lit. le bécasseau et la palourde font la guerre ensemble",
        "Rompre les relations avec",
        "Victoire",
        "Le jugement dernier",
        "Quand le rêve s'éveille",
        "Revitalisation",
        "Compte à rebours"
      ];
      var xtype = Math.floor(Math.random()*(pics.length-1));
      document.write('<img style="width: 100%; height:auto" alt="" src="'+pics[xtype]+'">');
    </script>
  </div>
  <div class="headpic-cover">
    <div style="margin: 0 auto;top:210px;text-align: center;padding: 10px 10px 20px 20px;color: #ffffff;position: absolute;width: 100%;">
      <h1 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-size: 70px;font-weight: 100;"><div style="color:rgb(0, 102, 255);display: inline;">S</div>oyorin.Work</h1>
      <h4 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-weight: 100;"><div style="color:rgb(0, 102, 255);display: inline;">A</div> Web Designed for Various Thoughts & Records</h4>
    </div>
    <div style="text-align: center;padding: 10px 10px 20px 20px;color: #ffffffb6;width: 500px;height:auto;background-color: #0000006c;border-radius: 15px;position:relative;margin: 0 auto;top: 430px;">
      <i><script>document.write(intros[xtype]);</script></i>
    </div>
    <div style="text-align: left;padding: 10px 10px 20px 20px;color: #ffffffb6;height:auto;background-color: #0000006c;border-radius: 15px;position:absolute;left: 20px;top: 500px;">
      <div style="text-align: center;width: 100%;height:100%;border-radius: 10px;border-color: azure;">
        <a href="https://cloudflare-cn.com" style="color:#ffffff">图床=></a>
      </div>
    </div>
  </div>
  

  <div class="big-container" id="particles-js">
  <article class="article">
    <br>
    <div style="border-style:dashed;width: 80%;height: auto;padding: 5px 5px 5px 5px;border-width: 3px;border-color: rgb(0, 102, 255);border-radius: 10px;margin: 0 auto;">
      <p style="text-align:center;font-size:15px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(0, 102, 255);">Soyorin.Work - AKlassen's Blogs</p>
    </div>
    <div class="right-holder">
      <!-- 网站介绍 -->
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">网站介绍</a></span>
          </li>
          <li class="person-img-li" style="text-align: center;">
            <img alt="logo" id="person-img" src="../img/builder.jpeg">
          </li>
          <div style="text-align: center;">
            <script src="../js/comcode/com_artmenu.js"></script>
            <div style="border-right: rgb(135, 135, 135) 1px solid;height: 45px;width: 70px;margin: 0 auto;display: inline-block;">
              <p style="text-align: center;color: rgb(135, 135, 135);font-size: x-large;"><script>document.write(count_tags('articles'));</script></p>
              <p style="text-align: center;color: rgb(135, 135, 135);font-size: small;">文章</p>
            </div>
            <div style="border-right: rgb(135, 135, 135) 1px solid;height: 45px;width: 70px;margin: 0 auto;display: inline-block;">
              <p style="text-align: center;color: rgb(135, 135, 135);font-size: x-large;"><script>document.write(count_tags('categories'));</script></p>
              <p style="text-align: center;color: rgb(135, 135, 135);font-size: small;">分类</p>
            </div>
            <div style="height: 60px;width: 70px;margin: 0 auto;display: inline-block;">
              <p style="text-align: center;color: rgb(135, 135, 135);font-size: x-large;"><script>document.write(count_tags('authors'));</script></p>
              <p style="text-align: center;color: rgb(135, 135, 135);font-size: small;">著者</p>
            </div>
          </div>
          <li class="person-intro-detail" style="text-align: center;">
            <h5>一个记录学习和思考的Blog小站<br></h5>
            <br><h5>Builder: ArbeiterKlassen(AKlassen)</h5>
          </li>
          <li class="person-intro-detail" style="text-align: center;">
            <h5>Based on: Github Pages;Go+Vue</h5>
          </li>
          <div class="icon-center">
            <span class="icon-box"><a id="github-icon" target="_blank" href="https://github.com/arbeiterklassen" class="foot-icon"></a></span>
            <span class="icon-box"><a id="qq-icon" target="_blank" href="tencent://Message/?Uin=1038171180&amp;websiteName=q-zone.qq.com&amp;Menu=yes" class="foot-icon"></a></span>
            <span class="icon-box"><a id="bili-icon" target="_blank" href="https://space.bilibili.com/353804830" class="foot-icon"></a></span>
          </div>
        </ul>
      </div>
      <!-- 宣传栏 -->
      <div class="column-container" style="width: 100%;float: left;">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">宣传栏</a></span>
          </li>
        </ul>
      </div>
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <img src="../img/library.jpg" alt="Thereader" style="width:100%">
          <li class="person-intro-detail">
            <h2 style="text-align:center">广告位招租（）</h2>
          </li>
          <li class="person-intro-detail">
            <h5 style="text-align:center">Bei der Philosophie selbst und beim Lernen geht es nicht nur um Bücher und Wissen, sondern auch um die Möglichkeit der Kommunikation und den Raum für Gemeinschaft.</h5>
            <h6 style="text-align:center">哲学本身和学习不仅仅关乎书本和知识，更在于交流和共进之空间的可能性</h6>
          </li>
          <br>
        </ul>
      </div>
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li class="person-intro-detail">
            <h5 style="text-align:center">我也不知道这里要写什么但总之是就放点东西吧~</h5>
          </li>
          <br>
        </ul>
      </div>
    </div>
    <div class="left-holder">
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">置顶</a></span>
          </li>
          <li class="person-intro-detail"><strong></strong></li>
        </ul>
      </div>
      <!-- 置顶文章 -->
      <div id="article-holder" style="width: 100%; float: left">
        <div class="article-box">
          <div class="ab-content">
            <a href="https://www.bilibili.com/video/BV13Nufz4EV6/" class="article-img-box">
              <img class="lazy-image article-img" data-src="https://i2.hdslb.com/bfs/archive/ba4083b43b84edc140bc57e97c5ae975476e0846.jpg" alt="" src="https://i2.hdslb.com/bfs/archive/ba4083b43b84edc140bc57e97c5ae975476e0846.jpg">
            </a>
            <div class="article-title">
              <a href="https://www.bilibili.com/video/BV13Nufz4EV6/">来自L-I-F的生日祝福</a>
            </div>
            <div class="article-detail-box c-666"></div>
            <span class="article-tail-box">
              <span class="article-date c-999">2025-5-19</span>
              <span class="article-author one-line-overflow c-999">L-I-F</span>
            </span>
          </div>
        </div>
      </div>
      <!-- 分类卡片 -->
      <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">分类</a></span>
          </li>
          <li class="person-intro-detail"><strong></strong></li>
        </ul>
      </div>
      <link rel="stylesheet" href="../css/font.css">
      <div id="article-holder" style="width: 100%; float: left">
        <div id="categories-holder">
          <div class="row">
            
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/code.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1>Code Development &amp; Study</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>秃头神器</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">CodeDev</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=1'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(1);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/book.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1>Lecture et apprentissage</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>读书思考</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Lecture</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=2'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(2);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/eup.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1>Philosophie européenne</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>欧陆哲学</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Philos</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=3'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(3);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/art.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1>Articles reproduits</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>转载文章</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Article</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=4'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(4);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/rec.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1>Registre des vies</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>记录生活</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Registre</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=5'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(5);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/cpl.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1 style="color:#000619">Plaintes quotidiennes</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1 style="color:#000619">日常抱怨</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Plaintes</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=6'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(6);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/pro.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1>Produits recommandés</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>推荐Something</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">不是广告</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=7'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(7);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/tech.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1>Liés à la technologie</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>技术相关</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Techお宅</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=8'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(8);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/oth.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1 style="color:#000619">Andere Typen</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1 style="color:#000619">其他</h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Andere</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=9'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(9);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- 联系卡片 -->
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/contact.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 90px;">
                    <h1>Kommen Sie zu uns!</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>联系我~</h1>
                    <h6>理论|读书|讨论|开发</h6>
                    <h6>QQ: 1038171180</h6>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Other</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;"> More</a></div>
                  </div>
                  <div style="position: absolute;width: 90%;height: auto;top:45px;">
                    <div style="width: 48%;height:35px;margin: 0 auto;display:inline-block;text-align:center">
                      <script>document.write('<a style="color: rgb(237,118,137,1);font-size: large;" href="../inner/index.html?mode='+mode+'">特别文档</a>')</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 文章列表概览 -->
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">概览</a></span>
          </li>
          <li class="person-intro-detail"><strong></strong></li>
        </ul>
      </div>
      <div id="article-holder" style="width: 100%; float: left">
        <div id="celebrates-container"></div>
        <script type="text/javascript" src="../js/celebrate.js"></script>
        <div id="pages-container"></div>
        <div id="chooser-container">
          <script>
            var page = 1;
            if(getParams("page") != null){page = getParams("page")};
            print_page(page, 1);
            function page_chooser(mode){
              document.write('<div class="article-box" style="width:auto;height:32px;background-color:rgba(180,180,180,0)" id="choosen-container">')
              document.write('    <div class="ab-content" style="background-color:rgba(180,180,180,0)">')
              document.write('        <div style="height:32px;width:auto;border-radius:4px;margin: 0 auto;float:left;text-align:center;font-size:18px;color: #ff000091;background-color:#ffffff;padding-left: 20px;padding-right:20px"><strong> '+count+" 篇，共 "+pages + " 页"+' </strong></div>')
              for(var i = 1;i<=pages;i++)document.write('<div class="choosen-box">'+'<a style="color:white" href="./index.html?mode='+mode+'&page='+i+'">'+i+'</a></div>')
              document.write('    </div>')
              document.write('</div>')
            };
            page_chooser(1);
          </script>
        </div>
      </div>
      <!-- Contact -->
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: x-large;">Contact</a></span>
          </li>
          <br>
          <div id="contact-container" style="width: 93%;height:auto; border-width: 1px; border-style:dashed; border-color:#969696;border-radius: 5px;margin: 0 auto;">
            <div id="sub-contact-container" style="top: 10px;width: 92%;height: auto;color: #4e4e4e;text-align: left;">
              <li class="person-intro-detail">
                <h3 style="text-align: left;">Email: arbeiterklassen@163.com</h3>
                <h3 style="text-align: left;">GitHub: ArbeiterKlassen</h3>
                <h3 style="text-align: left;">QQ: 1038171180</h3>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </article>
</div>


  <div id="theme-toggle" style="position: fixed; bottom: 40px; right: 17%; z-index: 1000; cursor: pointer; border-radius: 20px; padding: 5px 12px; font-size: 28px; background: var(--bg-card); box-shadow: var(--shadow-card);">
    <a href="javascript:void(0)" onclick="const d=document.documentElement.getAttribute('data-theme')==='dark';pagereload(d?1:2)" style="text-decoration:none;">✨</a>
  </div>
  <footer class="footer">
    <div class="footer-line">Powered By <a href="https://github.com/arbeiterklassen/Soyorin-Work" target="_blank">Soyorin.Work - AKlassen's Blogs</a> © 2021 - <span class="year"></span></div>
  </footer>

  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/sweetalert.min.js"></script>
  <script src="../js/pace.min.js"></script>
  <script src="../js/base.js"></script>
  <script src="../js/d-audio.js"></script>
  <script src="../js/myPagination.js"></script>
  
  <script src="https://cdn.staticfile.org/layer/3.1.1/layer.js" integrity="sha384-3f4jG+SN1L8xH8RX2z5G7j8Fz1T8wzH7V8yq6f3w2x1y0z9c8b7a6f5e4d3c2b1a" crossorigin="anonymous"></script>
  <script>
    document.body.oncopy = function() {
      layer.msg("复制成功,若要转载请务必保留原文链接<br>并遵循 (CC)-BY-NC-SA 协议");
    };
    document.querySelectorAll('.year').forEach(el => el.textContent = new Date().getFullYear());
  </script>
  <script>
    function sleep(ms) { return new Promise(resolve => setTimeout(resolve, ms)); }
  </script>
</body>
</html>
