<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    
    <title>SOYORIN__友情链接</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="HandheldFriendly" content="true">
<meta name="description" content="Soyorin.Work - AKlassen's Blogs">
<meta name="keywords" content="Soyorin.Work, Blog">
<link rel="shortcut icon" href="../headpage/icon.png">
<link rel="stylesheet" href="../css/variables.css">
<link rel="stylesheet" href="../css/global.css">
<link rel="stylesheet" href="../css/pace-theme-flash.css">
<link rel="stylesheet" href="../css/d-audio.css">
<link rel="stylesheet" href="../css/myPagination.css">
<link rel="stylesheet" href="../css/sign.css">
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/archive.css">
<link rel="stylesheet" href="../css/link.css">
<link rel="stylesheet" href="../css/about.css">
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/loader.css">
<link rel="stylesheet" href="../css/manifest.css">
</head>
<body>
    <script>
        function getParams(key) {
            var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return decodeURIComponent(r[2]);
            }
            return null;
        };
        var mode = 1;
        if(localStorage.getItem("soyorin-mode") != null){mode = parseInt(localStorage.getItem("soyorin-mode"))};
    </script>
    <!-- 悬挂的喵 -->
<script type="text/javascript" src="../js/hangingcat/hangingcat.js" defer></script>
<link rel="stylesheet" type="text/css" href="../css/hangingcat/hangingcat.css">
<div class="back-to-top cd-top faa-float animated cd-is-visible" style="top: -300px; z-index: 999;"></div>
<nav class="nav-bar-holder">
  <div class="nav-bar" id="nav-bar">
    <div class="logo-box"><a href="index.html" class="blog-title ta-c"><img style="vertical-align: top; height:32px" alt="logo" src="https://img.soyorin.work/user.jpeg" /></a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/index.html">首页</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/about.html">关于</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/web.sign.html">公告</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/category.html">文章分类</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/archive.html">归档</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/manifest.html">清单</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/issue.html">讨论</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/link.html">友情链接</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../index.html">导航页</a></div>
  </div>
</nav>
<nav class="mobile-nav">
  <div class="logo-box"><a href="index.html" class="blog-title ta-c"></a></div>
  <a id="mobile_cate" href="javascript:void(0);"><div style="padding:1px; background-color:white; border-radius:25px"><img style="width:35px" alt="mobile-nav" src="../img/cate.svg"></div></a>
</nav>
<ul id="nav-m-list">
  <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
  <li id="m-img-li"><img id="m-img" alt="头像" src="../img/user.jpeg"></li>
  <li><a class="w-h-100 fl" href="../templates/index.html">首页</a></li>
  <li><a class="w-h-100 fl" href="../templates/about.html">关于</a></li>
  <li><a class="w-h-100 fl" href="../templates/web.sign.html">公告</a></li>
  <li><a class="w-h-100 fl" href="../templates/category.html">文章分类</a></li>
  <li><a class="w-h-100 fl" href="../templates/archive.html">归档</a></li>
  <li><a class="w-h-100 fl" href="../templates/manifest.html">清单</a></li>
  <li><a class="w-h-100 fl" href="../templates/issue.html">讨论</a></li>
  <li><a class="w-h-100 fl" href="../templates/link.html">友情链接</a></li>
  <li><a class="w-h-100 fl" href="../index.html">导航页</a></li>
</ul>
<div class="loader" style="width: 100vw; height:100vh; position: fixed; z-index: 10000;" id="loader-cover">
  <div class="wrapper">
    <div class="catContainer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 733 673" class="catbody">
        <path class="loader-cat-fill" d="M111.002 139.5C270.502 -24.5001 471.503 2.4997 621.002 139.5C770.501 276.5 768.504 627.5 621.002 649.5C473.5 671.5 246 687.5 111.002 649.5C-23.9964 611.5 -48.4982 303.5 111.002 139.5Z"></path>
        <path class="loader-cat-fill" d="M184 9L270.603 159H97.3975L184 9Z"></path>
        <path class="loader-cat-fill" d="M541 0L627.603 150H454.397L541 0Z"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 158 564" class="tail">
        <path class="loader-tail-fill" d="M5.97602 76.066C-11.1099 41.6747 12.9018 0 51.3036 0V0C71.5336 0 89.8636 12.2558 97.2565 31.0866C173.697 225.792 180.478 345.852 97.0691 536.666C89.7636 553.378 73.0672 564 54.8273 564V564C16.9427 564 -5.4224 521.149 13.0712 488.085C90.2225 350.15 87.9612 241.089 5.97602 76.066Z"></path>
      </svg>
      <div class="text"><span class="bigzzz">Z</span><span class="zzz">Z</span></div>
    </div>
    <div class="wallContainer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 500 126" class="wall">
        <line stroke-width="6" stroke="#7C7C7C" y2="3" x2="450" y1="3" x1="50"></line>
        <line stroke-width="6" stroke="#7C7C7C" y2="85" x2="400" y1="85" x1="100"></line>
        <line stroke-width="6" stroke="#7C7C7C" y2="122" x2="375" y1="122" x1="125"></line>
        <line stroke-width="6" stroke="#7C7C7C" y2="43" x2="500" y1="43"></line>
      </svg>
    </div>
  </div>
</div>
<div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div id="headpic" class="headpic">
        <script>
            var pics = [
                "https://img.soyorin.work/headp1.jpg",
                "https://img.soyorin.work/headp2.jpg",
                "https://img.soyorin.work/headp3.jpg",
                "https://img.soyorin.work/headp4.jpg",
                "https://img.soyorin.work/headp5.jpg",
                "https://img.soyorin.work/headp6.jpg",
                "https://img.soyorin.work/headp7.jpg",
                "https://img.soyorin.work/headp8.jpg",
                "https://img.soyorin.work/headp9.jpg",
                "https://img.soyorin.work/headp10.jpg",
                "https://img.soyorin.work/headp11.jpg",
                "https://img.soyorin.work/headp12.jpg"
            ]
            var intros = [
                "Mémoires",
                "Raisons et hypothèses",
                "Vivez l'instant rêvé et réel.",
                "Long voyage",
                "Fins silencieuses",
                "Lit. le bécasseau et la palourde font la guerre ensemble",
                "Rompre les relations avec",
                "Victoire",
                "Le jugement dernier",
                "Quand le rêve s'éveille",
                "Revitalisation",
                "Compte à rebours"
            ]
            xtype = Math.floor(Math.random()*(pics.length-1));
            document.currentScript.insertAdjacentHTML('beforebegin', '<img style="width: 100%; height:auto" alt="" src="'+pics[xtype]+'">');
        </script>
    </div>
    <div class="headpic-cover">
        <div style="margin: 0 auto;top:210px;text-align: center;padding: 10px 10px 20px 20px;color: #ffffff;position: absolute;width: 100%;">
            <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
            <h1 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-size: 70px;font-weight: 100;"><div style="color:rgb(0,102,255);display: inline;">友</div>情链接</h1>
            <h4 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-weight: 100;"><div style="color:rgb(0,102,255);display: inline;">L</div>inks</h4>
        </div>
        <div style="text-align: center;padding: 10px 10px 20px 20px;color: #ffffffb6;width: 500px;height:auto;background-color: #0000006c;border-radius: 15px;position:relative;margin: 0 auto;top: 430px;">
            <i><script>
                document.currentScript.insertAdjacentHTML('beforebegin', intros[xtype]);
            </script></i>
        </div>
        <div style="text-align: left;padding: 10px 10px 20px 20px;color: #ffffffb6;height:auto;background-color: #0000006c;border-radius: 15px;position:absolute;left: 20px;top: 500px;">
            <div style="text-align: center;width: 100%;height:100%;border-radius: 10px;border-color: azure;">
                <a href="https://cloudflare-cn.com" style="color:#ffffff">图床=></a>
            </div>
        </div>
    </div>
    <div class="big-container">
        <article class="article">
            <div style="width:fit-content;padding:10px; height:auto;background-color: rgb(0, 102, 255);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">友情链接</h3>
            </div>
            <div class="topsign-title">
                <h2 class="topsign-text">这里是友情链接~~~ヽ(✿ﾟ▽ﾟ)ノ</h2>
                <br>
                <p>Soyorin.Work不会忘记每一位对这个小站做出建设的人</p>
                <br>
                <br>
            </div>
            <ul class="link-box">
                <li>
                    <span style="text-align: center;display: block;font-size:large;">鸣谢<br></span>
                </li>
                <div id="main-name-container" style="height:200px;">
                    <div style="width: 50%;height:200px;float: left;" id="leftname">
                        <li>
                            <h3>ArbeiterKlassen</h3>
                            <a href="https://arbeiterklassen.github.io/self" target="_blank">个人博客</a><a href="https://space.bilibili.com/353804830" target="_blank">B站</a>
                            <span class="description">本站的提出者。</span>
                            <span class="description">这个昵称源自德语：工人阶级。</span>
                        </li>
                    </div>
                    <div style="width: 50%;height: 200px;float: right;" id="rightname">
                        <li>
                            <h3>Faschiung</h3>
                            <a href="https://space.bilibili.com/322026087" target="_blank">B站</a>
                            <span class="description">第一篇文章！</span>
                            <span class="description">这个昵称是英文Fashion的德文转写。</span>
                        </li>
                    </div>
                </div>
                <h3 style="color: #4e4e4e;text-align: left;">  参与文章贡献和讨论的：</h3>
                <br>
                <div id="names-container" style="width: 93%;height:auto; border-width: 1px; border-style:solid; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                    <div id="sub-names-container" style="top: 10px;width: 100%;height: auto;text-align: left;">
                        <br>
                        <div class="name-holder">两河流域</div>
                        <div class="name-holder">有为青年</div>
                        <div class="name-holder">小蔡鸡JadeCai</div>
                        <div class="name-holder">奇才</div>
                        <div class="name-holder">苏维埃小九</div>
                        <div class="name-holder">笑笑</div>
                        <div class="name-holder">浮生</div>
                        <div class="name-holder">超级阿伏伽德罗</div>
                        <div class="name-holder">八小时</div>
                        <div class="name-holder">稻公</div>
                        <div class="name-holder">铃秋</div>
                        <div class="name-holder">蚌埠黄豆不怕流汗</div>
                        <div class="name-holder">SW-Eril</div>                
                        <br>
                        <br><h6 style="text-align: right;color: #969696;">(排名不分先后)</h6>
                        <br>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h2 style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">Thank for your continuous support and dedication</h2>
                <br>
            </ul>
            <!--友情链接-->
            <ul class="link-box about">
                <span style="text-align: center;display: block;font-size:large;">创作声明</span>
                <li>
                    <span class="description">
                        本站所有文章投稿及相关文件均遵守(CC)-BY-NC-SA协议,即：创作共用-署名-非商业性-相同方式共享。
                    </span>
                </li>
                <li>
                    <span class="description">
                        BY：您（用户）可以复制、发行、展览、表演、放映、广播或通过信息网络传播本作品；您必须按照作者或者许可人指定的方式对作品进行署名。
                    </span>
                </li>
                <li>
                    <span class="description">
                        NC：您可以自由复制、散布、展示及演出本作品；您不得为商业目的而使用本作品。
                    </span>
                </li>
                <li>
                    <span class="description">
                        SA：您可以自由复制、散布、展示及演出本作品；若您改变、转变或更改本作品，仅在遵守与本作品相同的许可条款下，您才能散布由本作品产生的派生作品。
                    </span>
                </li>
                <li>
                    <span class="about_line">
                        目前Soyorin.Work搬运的文章资源来源有：
                    </span>
                </li>
                <div id="names-container" style="width: 93%;height:auto; border-width: 1px; border-style:solid; border-color:#969696;border-radius: 5px;margin: 0 auto;">
                    <div id="sub-names-container" style="top: 10px;width: 100%;height: auto;text-align: left;">
                        <br>
                        <div class="name-holder">Noli foras ire @事物与事件<li><span class="about_line"><a href="https://pedantries.com/" target="_blank">https://pedantries.com/</a></span></li></div>
                        <br>
                        <br><h6 style="text-align: right;color: #969696;">(排名不分先后)</h6>
                        <br>
                    </div>
                </div>
            </ul>
            <ul class="link-box">
                <style>
                    .link-box .link-card{
                        width: 48%;
                        height:auto;
                        display: inline-block;
                    }
                    .link-box .link-card li a{
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-style: oblique;
                    }
                    @media screen and (max-width: 1200px) {
                        .link-box .link-card{
                        width: 100%;
                        height:auto;
                        display: inline-block;
                    }
                    }
                </style>
                <span style="text-align: center;display: block;font-size:large;">Links</span>
                <script>
                    var linklist = [
                        {name:'马克思主义文库',link:'https://www.marxists.org',description:''},
                        {name:'中文马克思主义文库',link:'https://www.marxists.org/chinese/index.html',description:''},
                        {name:'文献/福柯研究资讯',link:'https://foucault.info/',description:''},
                        {name:'文献/福柯相关资源',link:'https://michel-foucault.com/',description:''},
                        {name:'文献/德勒兹研讨班',link:'https://deleuze.cla.purdue.edu/',description:''},
                        {name:'文献/德勒兹研讨班 CHver',link:'https://www.deleuzecn.com/',description:''},
                        {name:'文献/德里达研讨班 CHver',link:'https://derridaseminars.org/',description:''},
                        {name:'文献/今日德里达',link:'https://derridatoday.com.au/',description:''},
                        {name:'文献/列维纳斯文献汇总',link:'https://levinas.sdsu.edu/',description:''},
                        {name:'文献/德里达参考文献',link:'https://derridas-margins.princeton.edu/',description:''},
                        {name:'文献/海德格尔学会',link:'https://www.heidegger-gesellschaft.de/en/',description:''},
                        {name:'文献/国际梅洛-庞蒂圈子',link:'https://www.merleauponty.org/',description:''},
                        {name:'文献/日本海德格尔学会',link:'https://heidegger.exblog.jp/',description:''},
                        {name:'文献/海德格尔圈子',link:'https://heidegger-circle.org/',description:''},
                        {name:'文献/海德格尔资源',link:'https://www.beyng.com/',description:''},
                        {name:'文献/海德格尔当代研究',link:'https://heidegger-circle.org/',description:''},
                        {name:'文献/胡塞尔-鲁汶档案馆',link:'http://www.husserlpage.com/',description:''},
                        {name:'文献/胡塞尔-弗赖堡档案馆',link:'http://www.husserlarchiv.de/',description:''},
                        {name:'文献/胡塞尔-科隆档案馆',link:'https://husserl.phil-fak.uni-koeln.de/',description:''},
                        {name:'文献/胡塞尔-巴黎高师档案馆',link:'http://www.umr8547.ens.fr/?lang=fr',description:''},
                        {name:'文献/德尔图良文献翻译',link:'https://www.tertullian.org/',description:''},
                        {name:'文献/数字康德中心',link:'https://nachrichten.idw-online.de/2022/09/07/millionenfoerderung-fuer-digitales-kant-zentrum-nrw',description:''},
                        {name:'文献/古典主义者',link:'http://stephanus.tlg.uci.edu/index/resources.html',description:''},
                        {name:'文献/异种女权主义',link:'https://laboriacuboniks.net/',description:''},
                        {name:'文献/全国图书馆参考咨询联盟',link:'http://www.ucdrs.superlib.net/',description:''},
                        {name:'文献/台湾大学图书馆',link:'http://ntu.primo.exlibrisgroup.com/',description:''},
                        {name:'文献/明尼苏达大学图书馆',link:'https://open.umn.edu/',description:''},
                        {name:'文献/宾夕法尼亚大学图书馆',link:'http://digital.library.upenn.edu/books',description:''},
                        {name:'文献/在世哲学家文库',link:'https://cola.siu.edu/philosophy/llp/volumes/index.php',description:''},
                        {name:'文献/哲学图书馆',link:'http://palimpsestes.fr/index.html',description:''},
                        {name:'文献/Gutenberg Project',link:'https://gutenberg.unblockit.bet/',description:''},
                        {name:'文献/国家紧急图书馆',link:'https://archive.org/',description:''},
                        {name:'百科/斯坦福哲学百科',link:'https://plato.stanford.edu/',description:''},
                        {name:'百科/劳特里奇哲学百科',link:'https://www.rep.routledge.com/',description:''},
                        {name:'百科/互联网哲学百科',link:'https://iep.utm.edu/',description:''},
                        {name:'语言/西班牙语词典',link:'https://spanishetymology.com/',description:''},
                        {name:'语言/法语词典',link:'https://www.lexilogos.com/index.htm',description:''},
                        {name:'语言/法语电子书',link:'http://www.leboucher.com/vous/base/faq_gen1.html',description:''},
                        {name:'语言/注册词典',link:'https://nodictionaries.com/populus/novifacta-quotidiana/2022-08-03',description:''},
                        {name:'语言/希腊和拉丁语语言',link:'https://www.lexilogos.com/index.htm',description:''},
                        {name:'语言/古希腊语言词典',link:'https://www.lexilogos.com/clavier/ellenike.htm',description:''},
                        {name:'语言/古法语文献',link:'https://gallica.bnf.fr/',description:''}
                    ]
                    for(var i = 0;i<linklist.length;i++){
                        if(linklist[i].name != 'dot' ){
                            document.currentScript.insertAdjacentHTML('beforebegin', '<div class="link-card"><li><span class="description">'+linklist[i].name+'</span><a href="'+linklist[i].link+'">'+linklist[i].link+'</a></li></div>');
                        }else{
                            document.currentScript.insertAdjacentHTML('beforebegin','<li><span class="about_line">'+linklist[i].description+'</span></li>');
                        }
                    }
                </script>
                <!-- <div class="link-card">
                    <li>
                        <a href="https://www.marxists.org">MAXRISTS.ORG 马克思主义文库</a>
                        <span class="description">旨在传播马克思主义和共产主义历史文献和参考资料<br>拥有最全的马克思主义文献整理<br>
                            “我们现在收集的文献有38种语言，包括阿拉伯语、乌尔都语、越南语等等，总共2500兆的数据中有1500兆都是英语的，其他语言的文献很少。>这些作品的作者总共有430人，他们中间有103个人的作品几乎都是英文。英文文献的大部头作品有列宁的3900篇，马恩的3260篇，托洛茨基的1264篇。”<br>
                        </span>
                        <span class="description">————Andy Blunden,marxists.org 创始人</span>
                    </li>
                </div>
                <div class="link-card">
                    <li>
                        <a href="https://www.marxists.org">MAXRISTS.ORG 马克思主义文库</a>
                        <span class="description">旨在传播马克思主义和共产主义历史文献和参考资料<br>拥有最全的马克思主义文献整理<br>
                            “我们现在收集的文献有38种语言，包括阿拉伯语、乌尔都语、越南语等等，总共2500兆的数据中有1500兆都是英语的，其他语言的文献很少。>这些作品的作者总共有430人，他们中间有103个人的作品几乎都是英文。英文文献的大部头作品有列宁的3900篇，马恩的3260篇，托洛茨基的1264篇。”<br>
                        </span>
                        <span class="description">————Andy Blunden,marxists.org 创始人</span>
                    </li>
                </div> -->
                <!-- <li>
                    <a href="https://www.marxists.org">MAXRISTS.ORG 马克思主义文库</a>
                    <span class="description">旨在传播马克思主义和共产主义历史文献和参考资料<br>拥有最全的马克思主义文献整理<br>
                        “我们现在收集的文献有38种语言，包括阿拉伯语、乌尔都语、越南语等等，总共2500兆的数据中有1500兆都是英语的，其他语言的文献很少。>这些作品的作者总共有430人，他们中间有103个人的作品几乎都是英文。英文文献的大部头作品有列宁的3900篇，马恩的3260篇，托洛茨基的1264篇。”<br>
                    </span>
                    <span class="description">————Andy Blunden,marxists.org 创始人</span>
                </li> -->
                <!-- <li>
                    <a href="https://www.marxists.org">MAXRISTS.ORG CHver 中文马克思主义文库</a>
                    <span class="description">马克思主义文库中国分站<br>拥有最全的马克思主义文献整理，<br>
                        “互联网可以使社会主义者可以和那些由于地理或资金的原因而无法接触到社会主义文献的人们或组织建立起联系。<br>
                        以前学习马克思主义、阅读马克思主义文献需要通过图书馆或者是有社会主义作品的书店，但现在这些限制条件已经不复存在了。这尤其是对于那些发展中国家的进步学生和社会主义激进分子有利。br
                        随着网吧数量的剧增，即使在一些不发达国家，世界上最贫穷、最受压迫的人民都有更好的机会组织起来学习社会主义。”<br>
                    </span>
                    <span class="description">————David Walter,marxists.org 创始人</span>
                    
                </li>
                <li>
                    <h3>未明子</h3>
                    <a href="https://space.bilibili.com/23191782" target="_blank">B站</a>
                    <span class="description">哲学学者，B站UP，讲解深刻</span>
                </li> -->
            </ul>
        </article>
    </div>
    <!--主题-->>
    <div>
        <script>
                        if(mode==1)document.currentScript.insertAdjacentHTML('beforebegin', '<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#000000"><a href="javascript:void(0)" onclick="pagereload(2)" style="font-size:28px">✨</a></div>')
            if(mode==2)document.currentScript.insertAdjacentHTML('beforebegin','<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#ffffff"><a href="javascript:void(0)" onclick="pagereload(1)" style="font-size:28px">🔆</a></div>')
        </script>
    </div>
    <!--尾部-->
    <footer class="footer">
  <div class="footer-line">Powered By <a href="https://github.com/arbeiterklassen/Soyorin-Work" target="_blank">Soyorin.Work - AKlassen's Blogs</a> © 2021 - <span class="year"></span></div>
</footer>
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/sweetalert.min.js"></script>
<script src="../js/pace.min.js"></script>
<script src="../js/base.js"></script>
<script src="../js/d-audio.js"></script>
<script src="../js/myPagination.js"></script>
<script src="https://cdn.staticfile.org/layer/3.1.1/layer.js"></script>
<script src="../js/main.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>

</html>