<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    
    <title>SOYORIN__公告</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="HandheldFriendly" content="true">
<meta name="description" content="Soyorin.Work - AKlassen's Blogs">
<meta name="keywords" content="Soyorin.Work, Blog">
<link rel="shortcut icon" href="../headpage/icon.png">
<link rel="stylesheet" href="../css/variables.css">
<link rel="stylesheet" href="../css/global.css">
<link rel="stylesheet" href="../css/pace-theme-flash.css">
<link rel="stylesheet" href="../css/d-audio.css">
<link rel="stylesheet" href="../css/myPagination.css">
<link rel="stylesheet" href="../css/sign.css">
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/archive.css">
<link rel="stylesheet" href="../css/link.css">
<link rel="stylesheet" href="../css/about.css">
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/loader.css">
<link rel="stylesheet" href="../css/manifest.css">
</head>
<body>
    <script>
        function getParams(key) {
            var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return decodeURIComponent(r[2]);
            }
            return null;
        };
        var mode = 1;
        if(localStorage.getItem("soyorin-mode") != null){mode = parseInt(localStorage.getItem("soyorin-mode"))};
    </script>
    <!-- 悬挂的喵 -->
<script type="text/javascript" src="../js/hangingcat/hangingcat.js" defer></script>
<link rel="stylesheet" type="text/css" href="../css/hangingcat/hangingcat.css">
<div class="back-to-top cd-top faa-float animated cd-is-visible" style="top: -300px; z-index: 999;"></div>
<nav class="nav-bar-holder">
  <div class="nav-bar" id="nav-bar">
    <div class="logo-box"><a href="index.html" class="blog-title ta-c"><img style="vertical-align: top; height:32px" alt="logo" src="https://img.soyorin.work/user.jpeg" /></a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/index.html">首页</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/about.html">关于</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/web.sign.html">公告</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/category.html">文章分类</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/archive.html">归档</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/manifest.html">清单</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/issue.html">讨论</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../templates/link.html">友情链接</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="../index.html">导航页</a></div>
  </div>
</nav>
<nav class="mobile-nav">
  <div class="logo-box"><a href="index.html" class="blog-title ta-c"></a></div>
  <a id="mobile_cate" href="javascript:void(0);"><div style="padding:1px; background-color:white; border-radius:25px"><img style="width:35px" alt="mobile-nav" src="../img/cate.svg"></div></a>
</nav>
<ul id="nav-m-list">
  <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
  <li id="m-img-li"><img id="m-img" alt="头像" src="../img/user.jpeg"></li>
  <li><a class="w-h-100 fl" href="../templates/index.html">首页</a></li>
  <li><a class="w-h-100 fl" href="../templates/about.html">关于</a></li>
  <li><a class="w-h-100 fl" href="../templates/web.sign.html">公告</a></li>
  <li><a class="w-h-100 fl" href="../templates/category.html">文章分类</a></li>
  <li><a class="w-h-100 fl" href="../templates/archive.html">归档</a></li>
  <li><a class="w-h-100 fl" href="../templates/manifest.html">清单</a></li>
  <li><a class="w-h-100 fl" href="../templates/issue.html">讨论</a></li>
  <li><a class="w-h-100 fl" href="../templates/link.html">友情链接</a></li>
  <li><a class="w-h-100 fl" href="../index.html">导航页</a></li>
</ul>
<div class="loader" style="width: 100vw; height:100vh; position: fixed; z-index: 10000;" id="loader-cover">
  <div class="wrapper">
    <div class="catContainer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 733 673" class="catbody">
        <path class="loader-cat-fill" d="M111.002 139.5C270.502 -24.5001 471.503 2.4997 621.002 139.5C770.501 276.5 768.504 627.5 621.002 649.5C473.5 671.5 246 687.5 111.002 649.5C-23.9964 611.5 -48.4982 303.5 111.002 139.5Z"></path>
        <path class="loader-cat-fill" d="M184 9L270.603 159H97.3975L184 9Z"></path>
        <path class="loader-cat-fill" d="M541 0L627.603 150H454.397L541 0Z"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 158 564" class="tail">
        <path class="loader-tail-fill" d="M5.97602 76.066C-11.1099 41.6747 12.9018 0 51.3036 0V0C71.5336 0 89.8636 12.2558 97.2565 31.0866C173.697 225.792 180.478 345.852 97.0691 536.666C89.7636 553.378 73.0672 564 54.8273 564V564C16.9427 564 -5.4224 521.149 13.0712 488.085C90.2225 350.15 87.9612 241.089 5.97602 76.066Z"></path>
      </svg>
      <div class="text"><span class="bigzzz">Z</span><span class="zzz">Z</span></div>
    </div>
    <div class="wallContainer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 500 126" class="wall">
        <line stroke-width="6" stroke="#7C7C7C" y2="3" x2="450" y1="3" x1="50"></line>
        <line stroke-width="6" stroke="#7C7C7C" y2="85" x2="400" y1="85" x1="100"></line>
        <line stroke-width="6" stroke="#7C7C7C" y2="122" x2="375" y1="122" x1="125"></line>
        <line stroke-width="6" stroke="#7C7C7C" y2="43" x2="500" y1="43"></line>
      </svg>
    </div>
  </div>
</div>
<div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div id="headpic" class="headpic">
        <script>
            var pics = [
                "https://img.soyorin.work/headp1.jpg",
                "https://img.soyorin.work/headp2.jpg",
                "https://img.soyorin.work/headp3.jpg",
                "https://img.soyorin.work/headp4.jpg",
                "https://img.soyorin.work/headp5.jpg",
                "https://img.soyorin.work/headp6.jpg",
                "https://img.soyorin.work/headp7.jpg",
                "https://img.soyorin.work/headp8.jpg",
                "https://img.soyorin.work/headp9.jpg",
                "https://img.soyorin.work/headp10.jpg",
                "https://img.soyorin.work/headp11.jpg",
                "https://img.soyorin.work/headp12.jpg"
            ]
            var intros = [
                "Mémoires",
                "Raisons et hypothèses",
                "Vivez l'instant rêvé et réel.",
                "Long voyage",
                "Fins silencieuses",
                "Lit. le bécasseau et la palourde font la guerre ensemble",
                "Rompre les relations avec",
                "Victoire",
                "Le jugement dernier",
                "Quand le rêve s'éveille",
                "Revitalisation",
                "Compte à rebours"
            ]
            xtype = Math.floor(Math.random()*(pics.length-1));
            document.currentScript.insertAdjacentHTML('beforebegin', '<img style="width: 100%; height:auto" alt="" src="'+pics[xtype]+'">');
        </script>
    </div>
    <div class="headpic-cover">
        <div style="margin: 0 auto;top:210px;text-align: center;padding: 10px 10px 20px 20px;color: #ffffff;position: absolute;width: 100%;">
            <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
            <h1 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-size: 70px;font-weight: 100;"><div style="color:rgb(0,102,255);display: inline;">公</div>告</h1>
            <h4 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-weight: 100;"><div style="color:rgb(0,102,255);display: inline;">A</div>nkündigung</h4>
        </div>
        <div style="text-align: center;padding: 10px 10px 20px 20px;color: #ffffffb6;width: 500px;height:auto;background-color: #0000006c;border-radius: 15px;position:relative;margin: 0 auto;top: 430px;">
            <i><script>
                document.currentScript.insertAdjacentHTML('beforebegin', intros[xtype]);
            </script></i>
        </div>
        <div style="text-align: left;padding: 10px 10px 20px 20px;color: #ffffffb6;height:auto;background-color: #0000006c;border-radius: 15px;position:absolute;left: 20px;top: 500px;">
            <div style="text-align: center;width: 100%;height:100%;border-radius: 10px;border-color: azure;">
                <a href="https://cloudflare-cn.com" style="color:#ffffff">图床=></a>
            </div>
        </div>
    </div>
    <div class="big-container" id="particles-js">
        <article class="article">
        <div style="width:fit-content;padding:10px; height:auto;background-color: rgb(0, 102, 255);border-radius: 10px;">
            <h3 style="text-align: center;color: #ffffff;">网站公告版</h3>
        </div>
        <div class="topsign-title">
            <h2 class="topsign-text">这里是网站开发记录和一些重大决议的公告版哦</h2>
            <br>
            <p>不定期更新。当前的计划：开发分页浏览功能和页面的进一步美化</p>
            <br>
            <br>
        </div>
            <div class="nb-a-holder">
                <!--公告板-->
                <script type="text/javascript" src="../js/comcode/com_web.lastsign.js"></script>            
                <script type="text/javascript" src="../js/comcode/com_web.sign.js"></script>
            </div>
        </article>
    </div>
    <!--主题-->>
    <div>
        <script>
            if(mode==1)document.currentScript.insertAdjacentHTML('beforebegin', '<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#000000"><a href="javascript:void(0)" onclick="pagereload(2)" style="font-size:28px">✨</a></div>')
            if(mode==2)document.currentScript.insertAdjacentHTML('beforebegin','<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#ffffff"><a href="javascript:void(0)" onclick="pagereload(1)" style="font-size:28px">🔆</a></div>')
        </script>
    </div>
    <!--尾部-->
    <footer class="footer">
  <div class="footer-line">Powered By <a href="https://github.com/arbeiterklassen/Soyorin-Work" target="_blank">Soyorin.Work - AKlassen's Blogs</a> © 2021 - <span class="year"></span></div>
</footer>
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/sweetalert.min.js"></script>
<script src="../js/pace.min.js"></script>
<script src="../js/base.js"></script>
<script src="../js/d-audio.js"></script>
<script src="../js/myPagination.js"></script>
<script src="https://cdn.staticfile.org/layer/3.1.1/layer.js"></script>
<script src="../js/main.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>